{% extends "default.html.twig" %}

{% set team_image %}
    {% include 'partials/team_image.html.twig' with {'image': header.page.team.image, 'description': header.page.team.description, 'name': page.title } %}
{% endset %}

{% set contacts %}
    {% if header.contacts|length > 0 %}
        {% include 'partials/team_contact.html.twig' with {'contacts': header.contacts} %}
    {% endif %}
{% endset %}

{% set times %}
    {% if header.times|length > 0 %}
        {% include 'partials/team_times.html.twig' with {'times': header.times, 'link': gantry.config.page.team_defaults.link, 'classes': 'hidden-phone hidden-tablet fcm-move-to-fcm-sidebar'} %}
        {% include 'partials/team_times.html.twig' with {'times': header.times, 'link': gantry.config.page.team_defaults.link, 'classes': 'hidden-desktop hidden-large'} %}
    {% endif %}
{% endset %}



{% block title %}
    <div class="team-content">
        <h2 itemprop="headline">{{ page.title|raw }}</h2>
    </div>
{% endblock %}


{% block main_content %}
    <div class="team-content">
        {{ team_image|raw }}

        {{ page.content|raw }}

        {{ times|raw}}

        {{ contacts|raw }}
    </div>
{% endblock %}

